body, html {
  height: 100%;
}

header{
	position: absolute;
	top: 0;
	width: 100%;
	background: #000;
	color: #fff;
}
header h3{
	margin-top: 13px;
	margin-bottom: 13px;
}
section {
  height: 100%;
  padding-top:55px;
  padding-bottom: 45px;
}
footer{
	position: absolute;
	bottom: 0;
}

section #form-nickname{
	margin-top: 40%;
}
input, button, .dropdown-menu{
	border-radius: 0 !important;
	border-width: 2px !important;
}
.dropdown-toggle{
	border-radius: 0 !important;
	border-width: 0 !important;
}
#mensajes{
	height: 100%;
	overflow: auto;
	padding: 2px 2px;
}
#mensajes div{
	border-top: 1px solid #eee;
	padding: 1px 10px;
}
#mensajes div p{
	margin: 0;
	padding: 0;
	font-size: 16px
}
.input-group-btn .btn{
	padding: 6px 20px;
}